<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Il Basso Consiglio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="http://localhost:8000/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <div class="barra_sinistra">
        <div class="bg_logo">
            <img id="logo" src="images/logo/logo-dark.png">
        </div>
        <div id="ilBassoConsiglio">
            <span>Il Basso Consiglio</span>
        </div>
    </div>

    <div class="bg_destra">
        <span class="titolo">Serie in evidenza</span>
        <span class="linea"></span>
        <div class="mangas">
            <% manga.forEach(m => { %>
                <div class="scheda_manga">
                    <img class="img_manga" src=<%=m.img %>>
                    <span class="titolo_manga">
                        <%= m.titolo %>
                    </span>
                </div>
            <% }) %>
        </div>
    </div>


    <script defer>

        let barraBasso = document.getElementsByClassName('barra_sinistra')[0];
        let bg_logo = document.getElementsByClassName('bg_logo')[0];
        let bassoC = document.getElementById("ilBassoConsiglio");
        let minFontSize = 15;
        let maxFontSize = 50;
        bassoC.style.fontSize = minFontSize + 'pt';

        let titolo = document.getElementsByClassName('titolo')[0];
        let lines = document.getElementsByClassName('linea');
        let line = lines[0];

        let man_ev = document.getElementsByClassName('mangas')[0];
        let titoliM = document.getElementsByClassName('titolo_manga');
        let sche_man = document.getElementsByClassName('scheda_manga')[1];
        let TminFontSize = 10;
        let TmaxFontSize = 20;
        for(let t of titoliM) {
            t.style.fontSize = TmaxFontSize + 'pt';
        }
        

        // R E S P O N S I V E
        function responsive() {

            bg_logo.style.width = bg_logo.getBoundingClientRect().height + 'px';

            bassoC.style.left = (0.04*barraBasso.getBoundingClientRect().width) + 'px';

            let currentFontSize = (0.03*barraBasso.getBoundingClientRect().width);
            bassoC.style.fontSize = currentFontSize + 'pt';
            if(currentFontSize < minFontSize) {
                bassoC.style.fontSize = minFontSize + 'pt';
            }
            bassoC.style.lineHeight = bassoC.style.fontSize;

            bassoC.style.top = 0.55*(barraBasso.getBoundingClientRect().height - bassoC.children[0].getBoundingClientRect().height) + 'px';


            titolo.style.top = (1.5*barraBasso.getBoundingClientRect().height) + 'px';
            let currentFontSizetit = (0.06*screen.width);
            titolo.style.fontSize = currentFontSizetit + 'pt';
            if(currentFontSizetit > maxFontSize) {
                titolo.style.fontSize = maxFontSize + 'pt';
            }
            titolo.style.lineHeight = titolo.style.fontSize;

            line.style.top = (titolo.getBoundingClientRect().height+titolo.getBoundingClientRect().top) + 'px';
            line.style.width = (25+titolo.getBoundingClientRect().width) + 'px';

            man_ev.style.top = (0.2*line.getBoundingClientRect().top+line.getBoundingClientRect().top) + 'px';
            /*if(screen.width < 800){
                for(let s of sche_man) {
                    s.style.width = (0.8*screen.width) + 'px';
                    s.style.height = (1.5*sche_man.getBoundingClientRect().width) + 'px';
                }
            }else{
                for(let s of sche_man) {
                    s.style.width = (0.8*$(Window).width()) + 'px';
                    s.style.height = (1.5*sche_man.getBoundingClientRect().width) + 'px';
                }
            }*/
            //for(let s of sche_man){
                if(screen.width < 800){
                    for (let i = 0; i < document.getElementsByClassName('scheda_manga').length; i++) {
                        document.getElementsByClassName('scheda_manga')[i].style.width = (0.8*screen.width) + 'px';
                        document.getElementsByClassName('scheda_manga')[i].style.height = (1.02*sche_man.getBoundingClientRect().width) + 'px';                        
                    }
                }else{
                    sche_man.style.width = (0.8*$(Window).width()) + 'px';
                    sche_man.style.height = (1.5*sche_man.getBoundingClientRect().width) + 'px';
                }
            //}
            
            for(let t of titoliM) {
                let TcurrentFontSize = 0.02*man_ev.getBoundingClientRect().width

                t.style.fontSize = TcurrentFontSize + 'pt';
                if(TcurrentFontSize < TminFontSize) {
                    t.style.fontSize = TminFontSize + 'pt';
                }
                if(TcurrentFontSize > TmaxFontSize) {
                    t.style.fontSize = TmaxFontSize + 'pt';
                }

                t.style.lineHeight = t.style.fontSize;
            }

        }

        window.addEventListener('resize', responsive);

        responsive();

    </script>


</body>

</html>