<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Il Basso Consiglio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="http://localhost:8000/css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
    
    <div class="barra_sinistra">
        <div class="bg_logo">
            <img id="logo" src="images/logo/logo-dark.png">
        </div>
        <div id="ilBassoConsiglio">
            <span>Il Basso Consiglio</span>
        </div>
    </div>

    <div class="bg_destra">
        <span class="titolo">Serie in evidenza</span>
        <span class="linea"></span>
        <div class="mangas">
            <div class="spacer"></div>
            <% manga.forEach(m => { %>
                <div class="scheda_manga">
                    <img class="img_manga" src=<%=m.img %>>
                    <span class="titolo_manga">
                        <%= m.titolo %>
                    </span>
                </div>
                <div class="spacer"></div>
            <% }) %>
        </div>
    </div>


    <script defer>

        let lines = document.getElementsByClassName('linea');
        // let spacers = document.getElementsByClassName('spacer');    

        // Riempie di spazi i div spacer per non avere problemi con le lettere
        // function space(n) {
        //     for(let s of spacers) {
        //         for(let i = 0; i < n; i++) {
        //             s.innerHTML += '&emsp;';
        //         }
        //     }
        // }

        let header = document.getElementsByClassName('barra_sinistra')[0];
        let bg_logo = document.getElementsByClassName('bg_logo')[0];
        let bassoC = document.getElementById("ilBassoConsiglio");
        let titolo = document.getElementsByClassName('titolo')[0];
        let man_ev = document.getElementsByClassName('mangas')[0];
        let line = lines[0];

        // R E S P O N S I V E
        function responsive() {

            bg_logo.style.width = bg_logo.getBoundingClientRect().height + 'px';

            bassoC.style.marginLeft = (0.5*bg_logo.getBoundingClientRect().width) + 'px';
            bassoC.style.marginTop = (0.25*bg_logo.getBoundingClientRect().height) + 'px';
            bassoC.style.fontSize = (0.3*header.getBoundingClientRect().height) + 'pt';
            bassoC.style.lineHeight = (0.3*header.getBoundingClientRect().height) + 'pt';
            bassoC.style.height = (Math.PI*header.getBoundingClientRect().width) + 'px';


            titolo.style.top = (2*header.getBoundingClientRect().height) + 'px';
            titolo.style.fontSize = (0.038*header.getBoundingClientRect().width) + 'pt';
            titolo.style.lineHeight = (0.038*header.getBoundingClientRect().width) + 'pt';

            line.style.top = (titolo.getBoundingClientRect().height+titolo.getBoundingClientRect().top) + 'px';
            line.style.width = (25+titolo.getBoundingClientRect().width) + 'px';

            man_ev.style.top = (0.2*line.getBoundingClientRect().top+line.getBoundingClientRect().top) + 'px';
        }

        window.addEventListener('resize', responsive);

        responsive();
        // space(3);

    </script>


</body>

</html>