body {
	background-color: #1F2022;
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}


.bg_logo {
	background : #A42C38;
	min-width: 50px;
	min-height: 50px;
}


#logo {
	width: 95%;
	padding: 2.5%;
}


#ilBassoConsiglio {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 20pt;
	color: #C6C6C6;
	position: relative;

	min-width: fit-content;
	min-height: fit-content;
	align-self: center;
	margin-left: 5%;

}


.barra_sinistra {
	background : #3C3C3B;
	width : 100%;
	height: 13.5%;

	display: flex;
	flex-direction: row;
	
	min-height: 50px;
}

.welcome {
	background : #3C3C3B;
	min-height: 15vh;
}

.bg_destra {
	width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
	align-items: center;
}


.mangas {
    position: absolute;
    display: flex;
    flex-direction: column;
	align-items: center;

	margin-top: 25%;
}


.titolo {
    font-family: Montserrat;
	font-weight: bold;
	color: #C6C6C6;
	top: 12%;
    font-size: 24pt;
    line-height: 24pt;
	position: absolute;
	min-width: fit-content;
}


.linea {
    position: absolute;
	top: 14%;
	width: 45%;
	margin-bottom: 15%;
    height: 0;
	width: 60%;

    border: 2px solid #A42C38;
    border-radius: 8px;

	user-select: none;
}

.scheda_manga {
	background : #3C3C3B;
	width : 90%;
	height : 71%;
	border-radius : 10pt;
	-moz-border-radius : 10pt;
	-webkit-border-radius : 10pt;
    overflow: hidden;
	
	display: flex;
	flex-direction: row;

	margin-bottom: 25px;
	max-height: 71%;

}

.img_manga {
	position: static;
    width : 50%;
	height : 100%;
}

.info{
	display: flex;
	flex-direction: column;
	margin: 3%;
	align-items:center;
	justify-content:space-around;
}

.titolo_manga {
	font-family : Montserrat;
	font-weight : bold;
	font-size: 15pt;
	color : #C6C6C6;
    /* height: fit-content; */
    position: relative;
	text-align: center;
	margin: 5px;
	width: 100%;
}


.descrizione {
	text-align: left;
	font-family : calibri;
	color : #C6C6C6;
	font-size: 15pt;
	display: none;
	overflow-x: scroll;
	
}


.links {
	text-align: left;
	font-family : calibri;
	color : #C6C6C6;
	font-size: 15px;
	overflow-x: scroll;
	
}


@media only screen and (min-width:500px) {
	/* For desktop: */
	.scheda_manga{
		width: 85%;
	}
	.titolo{
		font-size: 25pt;
	}
	.linea{
		width: 45%;
		margin-bottom: 15%;
	}
	.titolo_manga{
		font-size: 15pt;
	}
	.descrizione{
		font-size: 15pt;
	}
	.links{
		font-size: 13pt;
	}
  }

@media only screen and (min-width:700px) {
	/* For desktop: */
	.scheda_manga{
		width: 80%;
	}
	.titolo{
		font-size: 26pt;
	}
	.linea{
		width: 45%;
		margin-bottom: 15%;
	}
	.titolo_manga{
		font-size: 16pt;
	}
	.descrizione{
		font-size: 16pt;
	}
	.links{
		font-size: 13pt;
	}
  }

@media only screen and (min-width: 900px) {
	/* For desktop: */
	.scheda_manga{
		width: 75%;
	}
	.titolo{
		font-size: 27pt;
	}
	.linea{
		width: 45%;
		margin-bottom: 15%;
	}
	.titolo_manga{
		font-size: 16pt;
	}
	.descrizione{
		font-size: 16pt;
	}
	.links{
		font-size: 14pt;
	}
	.descrizione {
		display: block;
	}
  }

@media only screen and (min-width: 1100px) {
	/* For desktop: */
	.scheda_manga{
		width: 70%;
	}
	.titolo{
		top: -3.2%;
		font-size: 28pt;
	}
	.linea{
		top: -1.2%;
		width: 45%;
		margin-bottom: 15%;
	}
	.titolo_manga{
		font-size: 17pt;
	}
	.descrizione{
		font-size: 17pt;
	}
	.links{
		font-size: 15pt;
	}
  }

@media only screen and (min-width: 1300px) {
	/* For desktop: */
	.scheda_manga{
		width: 65%;
	}
	.titolo{
		top: -3.4%;
		font-size: 27pt;
	}
	.linea{
		top: -1.4%;
		width: 45%;
		margin-bottom: 15%;
	}
	.titolo_manga{
		font-size: 20pt;
	}
	.descrizione{
		font-size: 20pt;
	}
	.links{
		font-size: 17pt;
	}
  }

@media only screen and (min-width: 1500px) {
	/* For desktop: */
	.scheda_manga{
		width: 60%;
	}
	.titolo{
		top: -3.6%;
		font-size: 28pt;
	}
	.linea{
		top: -1.6%;
		width: 45%;
		margin-bottom: 15%;
	}
	.titolo_manga{
		font-size: 21pt;
	}
	.descrizione{
		font-size: 21pt;
	}
	.links{
		font-size: 18pt;
	}
  }

  @media only screen and (min-width: 1700px) {
	/* For desktop: */
	.scheda_manga{
		width: 55%;
	}
	.titolo{
		top: -3.8%;
		font-size: 29pt;
	}
	.linea{
		top: -1.8%;
		width: 45%;
		margin-bottom: 15%;
	}

	.titolo_manga{
		font-size: 22pt;
	}
	.descrizione{
		font-size: 22pt;
	}
	.links{
		font-size: 19pt;
	}
  }

@media only screen and (min-width: 1900px) {
	/* For desktop: */
	.scheda_manga{
		width: 50%;
	}
	.titolo{
		top: -4%;
		font-size: 30pt;
	}
	.linea{
		top: -2%;
		width: 45%;
		margin-bottom: 15%;
	}
	.titolo_manga{
		font-size: 23pt;
	}
	.descrizione{
		font-size: 23pt;
	}
	.links{
		font-size: 20pt;
	}
  }


