<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il Basso Consiglio</title>
    <link href="http://localhost:8000/css/chapters.css" rel="stylesheet" type="text/css">
</head>

<body onload="responsive()">

    <div class="barra_sinistra">
        <div class="bg_logo">
            <a href="/"> <img id="logo" src="/images/logo/logo-dark.png"></a>
        </div>
        <span id="ilBassoConsiglio"><a href="/">Il Basso Consiglio</a></span>
    </div>

    
    <div class="bg_destra">
        <div class="controlli">
            <div id="prev" class="button">
                &triangleleft;
            </div>
            <div id="list" class="button"><a href="/Maou">&#x2630;</a></div>
            <div id="next" class="button">&triangleright;</div>
        </div>
        <div class="pagine">
            <% for(let i = 1; i <= num; i++) { %>
                <% var id = (i < 10 ? "0" : "" ) + i%>
                <% var image = "/images/Maou/C" + index + "/" + id + ".png" %>
                <img class="immagine" src="<%=image%>">
                <br>
            <% } %>
        </div>
        <div class="controlli">
            <div id="prev" class="button">&triangleleft;</div>
            <div id="top" class="button">&bigtriangleup;</div>
            <div id="next" class="button">&triangleright;</div>
        </div>
    </div> 

    <script defer>

        let bg_logo = document.getElementsByClassName('bg_logo')[0];
        let pagine = document.getElementsByClassName('pagine')[0];
        let controlli = document.getElementsByClassName('controlli');

        // R E S P O N S I V E
        function responsive() {
            bg_logo.style.width = bg_logo.getBoundingClientRect().height + 'px';
            for(let con of controlli){
                con.style.width = pagine.getBoundingClientRect().width + 'px';
            }
        }

        responsive();

        window.addEventListener('resize', responsive);
        document.addEventListener('ready', responsive)

        responsive();

        // function topFunction() {
        //     window.scrollTo({top: 0, behavior: 'smooth'});
        // }

        $(document).ready(function(){
            $("div[id='top']").click(function(){
                $("html, body").animate({ scrollTop: 0 }, 1500);
            });
        });

    </script>

    

</body>

</html>