<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capitolo 1</title>
</head>

<body>

    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>

    <% for(let i = 1; i <= num; i++) { %>
        <% var id = (i < 10 ? "0" : "" ) + i%>
        <% var image = "/images/Maou/C001/" + id + ".png" %>
        <img src="<%=image%>">
        <br>
    <% } %>


    <script>

        let imgs = document.getElementsByTagName('img');

        for(let img of imgs) {
            let newW = (0.7*screen.width) + "px";
            img.setAttribute('width', newW);
        }

    </script>

</body>

</html>